.contact {
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.contact:hover {
    background-color: var(--colorGray);
}

.contact img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.contact h2{
    font-weight: 100;
    font-size: 1.09em;
}

.contact p {
    font-size: .85em;
    color: var(--colorDarkGray);
}

.contact > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    border-bottom: 2px solid var(--colorGray);
    padding: 12px 0;
}

.contact > div > div:nth-child(1) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
}

.contact > div > div:nth-child(2) {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    padding-right: 18px;
}

.contact svg path{
    fill: var(--colorGrayTwo);
}