.container-chat {
    width: 100%;
    height: 100%;
    background: url(../../assets/img/background-wp.png);
    background-size: 10%;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-chat > div:nth-child(1) {
    overflow-y: scroll;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container-chat > div:nth-child(1)::-webkit-scrollbar {
    width: 0px;
}
