@import url(../../styles/variables.css);
@import url(../../styles/global-styles.css);

header {
    background-color: var(--colorGray);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
}

main {
    margin-top: 60px;
}